@charset "UTF-8";

body{
    background-color:#c2ae87;
    font-family: 'Zen Antique', serif;
}

#header{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #664032;
}

.wrapper{
    max-width: 1900px;
    margin:auto;
    padding: 0 4%;
}

.logo{
    width: 800px;
    height: auto;
}

.main-nav{
    display: flex;
    font-size: 32px;
    margin-top: 40px;
    list-style: none;
}

.main-nav li{
    margin-left: 40px;
}

#about{
    font-size: 52px;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

.aboutme{
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    margin-left: 80px;
    margin-right: 80px;
}

.name{
    font-size: 40px;
    margin-left: 80px;
}

.tachie{
    width: auto;
    height: 550px;
    padding-left: 80px;
}

#works{
    font-size: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.works{
    margin-left: 80px;
    margin-right: 80px;
}

.works-tab li{
    margin-left: 40px;
}

.tab{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    font-size: 24px;
}

.tab li a{
    display: block;
    background: #bfa46f;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 40px;
}

.tab li.active a{
    background: #af8308;
}

#contact{
    font-size: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.about_contact{
    font-size: 26px;
    margin-left: 80px;
    margin-right: 80px;
}