@charset "UTF-8";

body{
    background-color:white;
}

.logo{
    width: auto;
    height: 144px;
    margin-top: 20px;
    margin-left: 0px;
}

.main-nav{
    display: flex;
    font-size: 32px;
    margin-top: 40px;
    list-style: none;
}

.main-nav li{
    margin-left: 40px;
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1900px;
    margin:auto;
    padding: 0 4%;
}