@charset "UTF-8";

body{
    background-color:#c2ae87;
    font-family: 'Zen Antique', serif;
}

#header{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    color: white;
    background-color: #664032;
}

a[target="_blank"]::after {
    color: white;
}

.wrapper{
    width: auto;
    padding: 1rem 1rem 1rem 1rem;
}

.main-nav{
    display: flex;
    font-size: 32px;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    list-style: none;
}

.main-nav li{
    margin-left: 40px;
}

.twitter{
    height: auto;
    width: 30px;
}

.youtube{
    height: auto;
    width: 40px;
}

#about{
    font-size: 52px;
    margin-top: 100px;
}

.about{
    font-size: 26px;
    margin-left: 80px;
}

.aboutme{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    font-size: 26px;
}

.item{
    display: flex;
    flex-wrap: wrap;
}

.name{
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 400px;
    margin-left: 80px;
}

.tachie{
    width: auto;
    height: 550px;
    padding-left: 80px;
}

#works{
    font-size: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.works{
    margin-left: 80px;
    margin-right: 80px;
}

.works-tab li{
    margin-left: 40px;
}

.tab{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    font-size: 24px;
}

.tab li a{
    display: block;
    background: #bfa46f;
    margin-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 40px;
}

.tab li.active a{
    background: #af8308;
}

.area{
    display: none;
    opacity: 1;
    background: #af8308;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 20px;
}

.area.is-active{
    display: block;
    width: auto;
    animation-name: displayAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background: #af8308;
}

@keyframes displayAnime{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.containor{
    display: flex;
    flex-wrap: wrap;
}

.works_item{
    width: 430px;
    height: auto;
    padding: 1rem;
}

.name{
    font-size: 40px;
    margin-bottom: 400px;
}

#shop{
    font-size: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.banner{
    margin-left: 80px;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 480px;
    height: auto;
}

#contact{
    font-size: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.contact{
    font-size: 52px;
    margin-left: 80px;
    margin-right: 80px;
}

.about_contact{
    font-size: 26px;
    margin-left: 80px;
    margin-right: 80px;
}

.link:link {
    color:#693401;
}

.link:hover{
    color: aliceblue;
}

.link:visited{
    color: #ffd889;
}

.link:active{
    color: beige;
}